* {
  font-family: "Roboto", "sans-serif";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  background-color: #f6f8fc;
}

.content {
  padding: 1rem;
  background-color: #fff;
  height: 100vh;
  max-width: 1220px;
  text-align: center;
  margin: 0 auto;
}

